body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  max-width: 1450px;
}

@media screen and (min-width: 1450px) {
  body {
    margin: auto;
  }
}
.header {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  justify-content: center;
}

header img {
  width: 150px;
}

.header__icon {
  font-size: 20px;
  color: black;
  position: absolute;
  left: 20px;
  text-decoration: black;
}

.container__img {
  margin-bottom: -30px;
}

.container__img img {
  width: 100%;
}

.container__main__sections {
  background-color: #F2F2F3;
  padding-bottom: 30px;
}

.sections__all {
  background-color: #F2F2F3;
  border-radius: 25px 25px 0 0;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
}

.h1__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h1__title h1 {
  font-family: shrikhand;
}

.heart__icon {
  font-size: 25px;
}

.sections {
  padding-left: 10px;
  padding-right: 10px;
  animation: opacity 1s both;
}

.container__entrees {
  display: grid;
  grid-template-rows: 3fr;
  grid-template-columns: 1fr;
  grid-row-gap: 15px;
}

.container__entrees__meal__description {
  display: flex;
  justify-content: space-between;
}

.container__entrees__meal__title {
  margin-bottom: 5px;
  margin-top: 0;
}

.container__plats {
  display: grid;
  grid-template-rows: 3fr;
  grid-template-columns: 1fr;
  grid-row-gap: 15px;
}

.container__plats__meal__description {
  display: flex;
  justify-content: space-between;
}

.container__plats__meal__title {
  margin-bottom: 5px;
  margin-top: 0;
}

.container__desserts {
  display: grid;
  grid-template-rows: 3fr;
  grid-template-columns: 1fr;
  grid-row-gap: 15px;
}

.container__desserts__meal__description {
  display: flex;
  justify-content: space-between;
}

.container__desserts__meal__title {
  margin-bottom: 5px;
  margin-top: 0;
}

.container__price {
  font-weight: bold;
}

.btn__container {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  padding-right: 20px;
  padding-left: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  animation: opacity 1s both;
}

.btn__container:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

#btn__anination1 {
  animation-delay: 0.1s;
}

#btn__anination2 {
  animation-delay: 0.2s;
}

#btn__anination3 {
  animation-delay: 0.3s;
}

.btn__one {
  text-align: center;
  border-radius: 25px;
  background: linear-gradient(#ff79da, #9356dc);
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  max-width: 250px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.btn__one:hover {
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

footer {
  background-color: #2D2828;
  color: white;
}

.footer__container {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.footer__container-list {
  display: flex;
  flex-direction: column;
}

footer img {
  width: 100px;
  filter: invert(1);
  padding-bottom: 10px;
}

.footer__container__restaurant {
  display: flex;
}

.footer__container__restaurant__logo {
  padding-right: 11px;
}

.footer__container__partner {
  display: flex;
}

.footer__container__partner__logo {
  padding-right: 5px;
}

.footer__container-list-all {
  padding-bottom: 5px;
}

.footer__container-list-all a {
  text-decoration: none;
  color: white;
}

.footer__container-list-all a:hover {
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .sections {
    display: flex;
    justify-content: space-between;
  }

  .container__plats {
    display: grid;
    grid-template-rows: 3fr;
    grid-template-columns: 370px;
    grid-row-gap: 15px;
  }

  .container__entrees {
    display: grid;
    grid-template-rows: 3fr;
    grid-template-columns: 370px;
    grid-row-gap: 15px;
  }

  .container__desserts {
    display: grid;
    grid-template-rows: 3fr;
    grid-template-columns: 370px;
    grid-row-gap: 15px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1169px) {
  .container__plats {
    display: grid;
    grid-template-rows: 3fr;
    grid-template-columns: 400px;
    grid-row-gap: 15px;
  }

  .container__entrees {
    display: grid;
    grid-template-rows: 3fr;
    grid-template-columns: 400px;
    grid-row-gap: 15px;
  }

  .container__desserts {
    display: grid;
    grid-template-rows: 3fr;
    grid-template-columns: 400px;
    grid-row-gap: 15px;
  }

  .sections {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=la-palette-du-gout.css.map */
