// variables
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

$font-family-text: roboto;
$font-family-title: Shrikhand;

$width-card: 300px;
$height-card: 250px;

$width-logo: 500px;
$height-logo: 100px;

$font-size-h1: 50px;
$font-size-h2: 40px;

$border-radius:25px;


// mixins

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  font-family: "Roboto", sans-serif;
  margin:0px;
  
}

//HEADER

header img {
    width:150px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:15px;
    margin-bottom: 15px;
    
}

//Texte en-dessous du LOGO
.menu__subtitle{
    background-color: #F2F2F3;
    padding-top: 20px;
    height:230px;
    
}
.logo__subtitle{
    text-align: center;
    font-size:20px;
    background-color: #DCDCDC;
    
    
}

.logo__subtitle-description{
    margin-left: 10px;
}

h1 {
    font-size: 25px;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    margin-top:0px;
}

.h1__subtitle{
    font-size: 17px;
    text-align: center;
}

//BOUTON Explorer
.btn__one{
    text-align: center;
    border-radius: 25px;
    background-color: violet;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    max-width: 250px;  //le bouton ne s'élargit pas trop
}


//SECTION Fonctionnement

.fonctionnement{
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    row-gap: 10px;
    margin-right: 20px;
    margin-left:20px;
    height:340px;
}

.process{
    display: flex;
    height:70px;
    width:100%;
    background-color: #F2F2F3;
    align-items: center;
    margin-bottom: 20px;
    border-radius: $border-radius;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
}

.process_text{
    font-weight: bold;

}


.process__num{
    margin-right:20px;
    color:white;
    background-color: $color-primary;
    border-radius: 50%;
    width: 20px;
    text-align: center;
    margin-left: -6px;
}

.process_icon{
    margin-right: 20px;
}

.process_icon_3{
    color: $color-primary;
}



//SECTION Restaurants

.section__restaurant {
    background-color: #F2F2F3;
    padding-bottom: 60px;
    padding-top: 30px;
}
.restaurants {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr; 
    grid-row-gap:30px;
  }

.restaurants_card {
  width: auto;
  height: 310px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
  border-radius: $border-radius;
  background-color: white;
  position:relative;
}
.restaurants_card-block-img {
  overflow: hidden;
  border-radius: 25px 25px 0 0;
}
.restaurants img {
    width: 100%;
    object-fit: cover;
    height:230px;

}

.restaurants_card-bottom-text-heart{
    @include flexBetween;
    padding-left:10px;
    padding-right: 20px;
}

.restaurants_card-bottom-heart-completed{
    display: none;
  background: linear-gradient(#9356dc, #ff79da);
  font-size: 25px;
}
.restaurants_card-bottom-heart-completed:hover{
    display: none;
    background: linear-gradient(#9356dc,#ff79da);

}

.restaurants_card-bottom-heart-empty{
    font-size: 25px;
    text-decoration: none;
    color:black;

}

.restaurants_card-bottom-heart-empty:active{
    background: linear-gradient(#9356dc,#ff79da);
    
}

.restaurants_card-little-img{
    position:absolute;
    top:10px;
    right:10px;
    background-color: $color-tertiary;
}

h3{
    margin-bottom: -9px;
    margin-top:10px;
}


.restaurants a {
text-decoration: none;
color:black;
}

.restaurants_card-bottom-text p{
    font-size: 17px;
}
//FOOTER

footer{
    background-color: #2D2828;
    color: white;
    
    
}

.footer__container{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 20px;
}
.footer__container-list{
    display: flex;
    flex-direction: column;
}
footer img {
    width:100px;
    filter:invert(1); //changer la couleur du logo en blanc
    padding-bottom: 10px;
}

.footer__container__restaurant{
    display: flex;
}

.footer__container__restaurant__logo{
    padding-right: 11px;
}
.footer__container__partner{
    display: flex;
}
.footer__container__partner__logo{
padding-right: 5px;
}

.footer__container-list-all{
    padding-bottom: 5px;
}